.footer{
    margin-top:70px;
    padding-top: 50px; 
    background-color:#f7f7f7;
    @include mobile{
        display:none;
    }
    a{
        color:#000;
    }
    .wrapper{
        border-bottom:1px solid #ddd;
        padding-bottom:30px;
        @include tablet{
            flex-direction:column;
        }
        .col{
            padding:0 10px 0 0;
            width:calc(100%/4);
            @include tablet{
                width:100%;
                padding-bottom:15px;
                ul{
                    display:flex;
                    justify-content: space-between;
                    div{
                        width:30.333%;
                        li{
                            line-height: 2rem;
                        }
                    }
                }
            }

            h2{
                font-size:1.4rem;
                font-weight:500;
                text-transform: uppercase;
            }
            a{
                display:block;
                font-size:1.4rem;
                color:#222;
                padding:12px 0;
            }
            li:hover{
                text-decoration: underline;
            }
        }

    }
    .policy{
        padding:24px 0;
        font-size:1.4rem;
        li:not(:first-child):before{
            content:"";
            position: absolute;
            width:3px;
            height:2px;
            top:50%;
            transform: translateY(-50%);
            left:-12px;
            
            background-color:#000;
        }
        li:not(:first-child):hover{
            text-decoration: underline;

        }
        li{
            padding-right:18px;
            position: relative;
            color:#222;
        }
    }
    
}